<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <!--DiscordAppender 적용 -->
  <appender class="connectingstar.tars.common.logback.DiscordLogbackAppender"
    name="DISCORD">
    <discordWebhookUrl>${DISCORD_WEBHOOK_URI}</discordWebhookUrl>
  </appender>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%-5level] : %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="DISCORD" />
    <appender-ref ref="STDOUT" />
  </root>

  <!-- root logger 설정 --><springProperty name="DISCORD_WEBHOOK_URI" source="logback.discord.webhook-uri"/>
</configuration>